pkgbase = linux-XPS-15-9560
	pkgver = 5.4rc2
	pkgrel = 1
	url = https://kernel.org/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	makedepends = git
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	options = !strip
	source = linux-XPS-15-9560::git+https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git#tag=v5.4-rc2
	source = config
	source = 60-linux.hook
	source = 90-linux.hook
	source = 0001-less-ttys.patch
	source = linux.preset
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 8218F88849AAC522E94CF470A5E9288C4FA415FA
	sha256sums = SKIP
	sha256sums = 7b9b4eb35c6140e033c7590f516adcef85d4111ba171b76fca00f06d47641f26
	sha256sums = ae2e95db94ef7176207c690224169594d49445e04249d2499e9d2fbc117a0b21
	sha256sums = 834bd254b56ab71d73f59b3221f056c72f559553c04718e350ab2a3e2991afe0
	sha256sums = 57b14a035493a6d55a9ab0e94d90699d83351ff60c857b1207cefc971ba8d1f0
	sha256sums = ad6344badc91ad0630caacde83f7f9b97276f80d26a20619a87952be65492c65

pkgname = linux-XPS-15-9560
	pkgdesc = The Linux-XPS-15-9560 kernel and modules
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio
	optdepends = crda: to set the correct wireless channels of your country
	backup = etc/mkinitcpio.d/linux-XPS-15-9560.preset

pkgname = linux-XPS-15-9560-headers
	pkgdesc = Header files and scripts for building modules for Linux-XPS-15-9560 kernel

pkgname = linux-XPS-15-9560-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux-XPS-15-9560 kernel

